@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
    font-family: "Open Sans";
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.frame {
    width: 400px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    background: #43389F;
    padding: 30px 15px;
    background: -webkit-linear-gradient(bottom left, #43389F 0%, #4ec6ca 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43389F', endColorstr='#4ec6ca',GradientType=1 );
}

.figure {
    height: -webkit-fill-available;
    height: -moz-fill-available;
}

.number {
    padding: 22px 0;
    position: relative;
    width: 100%;
    left: 12%;
    top: 60px;
}

.one-one {
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 16px;
    height: 40px;
    width: 30px;
    border-radius: 3px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}

.one-two {
    height: 120px;
    width: 30px;
    position: absolute;
    background-color: #fff;
    left: 35px;
    top: -3px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 4px;
}

.zero-one {
    height: 120px;
    width: 120px;
    position: absolute;
    background-color: transparent;
    left: 50px;
    top: -3px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 50%;
    border: 30px solid #fff;
}

.zero-two {
    height: 120px;
    width: 120px;
    position: absolute;
    background-color: transparent;
    left: 150px;
    top: -3px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    z-index: 0;
    border-radius: 50%;
    border: 30px solid #fff;
}

.big, .small {
     color: #fff;
     top: 140px;
     left: 8px;
}

.big {
    position: relative;
    z-index: 20;
    display: block;
    text-align: center;
    font-size: 81px;
    line-height: 65px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: -8px;
}

.small {
    position: relative;
    z-index: 20;
    display: block;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: -4px;
}