* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --width-sun: 50px;
}

body {
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure {
    width: 50vh;
    height: 50vh; 
    background-color: cyan;
    border-radius: 50%;
    overflow: hidden;
}

.figure {
    position: relative;
}

.sun {
    position: absolute;
    width: var(--width-sun);
    height: var(--width-sun);
    left: 50%;
    top: 15%;
    border-radius: 50%;
    background-color: #ffef00;
    /* transform-origin: 550% 768%; */
    transform-origin: 20% 758%;
    transform: rotate(-70deg);
    animation: sun-anima 4s cubic-bezier(0.4, 0, 0.49, 1) forwards infinite;
}

.arena {
    position: absolute;
    background-color: #eedc74;
    bottom: 0;
    top: 60%;
    width: 100%;
}

@keyframes sun-anima {
    0% {
        transform: rotate(-70deg);
    }
    25% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(70deg);
    }
}